* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;   
    text-align: center;
}
body {
    min-height: 100vh;
    background: linear-gradient(0deg, #5D8B84 0%, #B69AB0 100%);
}
section { 
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}
.gamePanel {
    display: grid;
    grid-template-columns: 60% 40%;
}
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}
.dashboard1 {
    border-color: #ffffff;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.item {
    width: 230px;
    height: 20%;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 40%;
    border-color: #ffffff;
    background: transparent;
}
.item:hover {
    opacity: 0.4;
}