*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Calibri';
}
.container{
    border: 5px solid #17202A;
    min-height: 100vh;
    display: grid;
    margin: 0%;
    padding: 0%;
    grid-template-columns: 35% 65%;
}
p{
    text-align: justify;
}
.links a{
    color: white;
}
#studies a{
    color:#34495E;
}
#info{
    display: grid;
    grid-template-rows: 30% 60% 10%;
    padding: 10px;
    background: #34495E;
    color: white;
}
.header{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.header #imagen{
    position: absolute;
    border: 3px solid white;
    width: 35%;
    border-radius: 100%;
}
.header #nombre{
    position: absolute;
    text-align: center;
    top: 85%;
}
.content{
    margin-top: 10px;
    border-left: 3px solid white;
    padding: 5px;
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact{
    font-size: smaller;
}
.contact div p{
    text-align: center;
}
#main{
    display: grid;
    grid-template-rows: 65% 35%;
    position: relative;
    background-image: url(https://images.pexels.com/photos/574283/pexels-photo-574283.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;   

    color: #34495E;
}
#main img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}
.history{
    display: grid;
    grid-template-columns: 50% 50%;
}
.history div{
    padding: 10px;
}
#experience{
    font-size:medium;
}
#experience h3 a{
    color: #34495E;
}
#experience p{
    font-size: smaller;
}
.extra{
    display: grid;
    grid-template-rows: 20% 80%;
}
.extra div{
    padding: 5px;
}
.title{
    text-align: center;
    margin-top: 10px;
}
.skills{
    display: grid;
    grid-template-columns: 50% 50%;
}