*{
    box-sizing: border-box;
    font-family:'Calibri';
}
a:hover{
    font-weight: bolder;
}
p{
    text-align: justify;
}
.container{
    border: 5px solid #17202A;
    margin: 0%;
}
.header h1{
    text-align: center;
}
.header img{
    border: 3px solid white;
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
}
.radius{
    border-radius: 100%;
}
.info{
    background: #34495E;
    color: white;
    border-right: 5px solid #17202A;
}
.content{
    border-left: 3px solid white;
    padding: 3px;
    }
.contact{
    font-size: smaller;
}
.contact div p{
    text-align: center;
}
.links{
    display: flex;
    justify-content: space-evenly;
}
.links a{
    color: white;
}
.main{
    color:#17202A;
    position: relative;
    width: 100%;
    height: 100%;
}
.main img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
    top: 0%;
}
.main a{
    color:#17202A;
}
.history{
    padding-left: 7px;
    padding-right: 7px;
}
.extras{
    padding-left: 7px;
    padding-right: 7px;
}
#experience{
    font-size:medium;
}
#experience p{
    font-size: smaller;
}
.title{
    text-align: center;
}