* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff;
    font-family: sans-serif;
    color: whitesmoke; 
}
section{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.card1{
    /* display: flex; */
    /* justify-content: center; */
    width: 350px;
    height: 450px;
    border-radius: 47px;
    background: linear-gradient(145deg, #c6c9d8, #a7a9b6);
    box-shadow:  9px 9px 15px #5e6067,
                 -9px -9px 15px #ffffff;
    overflow: hidden;
    position: relative;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
}
.card1 .main {
    width: 168%;
    border-bottom: 3px solid white;
}
.card1 .foto{
    width: 35%;
    border-radius: 100%;
    border: 3px solid white;
    position: absolute;
    top: 60px;
    left: 115px;
}
div .info {
    position: absolute;
    top: 210px;
    left: 60px;
    text-align: center;
}
.ubication{
    text-align: center;
    font-size: 15px;
}
.card2{
    display: flex;
    /* justify-content: center; */
    width: 250px;
    height: 500px;
    border-radius: 20px;
    background: #555f8b;
    box-shadow:  11px 11px 35px #3b4260,
                 -11px -11px 35px #6f7cb6;
    overflow: hidden;
    position: relative;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
}
.card2 .main2 {
    width: 100%;
    border-bottom: 3px solid white;
}
.card2 .foto2{
    width: 35%;
    border-radius: 100%;
    border: 3px solid white;
    position: absolute;
    top: 125px;
    left: 80px;
}
div .info2 {
    position: absolute;
    top: 225px;
    left: 10px;
    text-align: center;
}
.ubication2{
    text-align: center;
    font-size: 15px;
}